{% extends "layouts/base-fullscreen.html" %} {% block title %}Sign In{% endblock
%}

<!-- Specific Page CSS goes HERE -->
{% block stylesheets %}
<style>
  .sign-in-container {
    min-width: 450px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .sign-in-header h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: #333;
  }
  .form-group label {
    font-weight: 600;
    color: #555;
  }
  .form-control {
    border-radius: 5px;
    font-size: 1rem;
  }
  .btn-signin {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px 15px;
  }
  .btn-signin:hover {
    background-color: #0056b3;
  }
  .social-login-btn {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-weight: 600;
  }
  .social-login-btn:hover {
    background-color: #f1f1f1;
  }

  /* Make the layout responsive for larger screens */
  .sign-in-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .sign-in-image {
    flex: 1;
    background: url("https://plus.unsplash.com/premium_photo-1676657954811-9409c4830467?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center center;
    background-size: cover;
    height: 100vh;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .sign-in-form {
    flex: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30vh;
  }
</style>
{% endblock stylesheets %} {% block content %}
<main>
  <section class="sign-in-layout">
    <!-- Left side: Image -->
    <div class="sign-in-image"></div>

    <!-- Right side: Login Form -->
    <div class="sign-in-form">
      <div
        class="sign-in-container bg-white shadow border-0 rounded p-4 p-lg-5"
      >
        <div class="text-center mb-4">
          <!-- Replace the text with a logo -->
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/Logo_PLN.svg/2560px-Logo_PLN.svg.png"
            alt="Sign In Logo"
            style="max-width: 150px"
          />
          <p class="lead text-muted" style="font-size: 12px">
            {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
            {% else %} Please enter your credentials to sign in. {% endif %}
          </p>
        </div>
        <form method="post" action="" class="mt-4">
          {{ form.hidden_tag() }}
          <div class="form-group mb-4">
            <label for="username">Username</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <span class="fas fa-user-circle"></span>
              </span>
              {{ form.username(placeholder="Username", class="form-control") }}
            </div>
          </div>
          <div class="form-group mb-4">
            <label for="password">Your Password</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon2">
                <span class="fas fa-unlock-alt"></span>
              </span>
              {{ form.password(placeholder="Password", class="form-control",
              type="password") }}
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-top mb-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="remember"
              />
              <label class="form-check-label" for="remember">Remember me</label>
            </div>
            <div>
              <!-- <a
                href="{{ url_for('authentication_blueprint.register') }}"
                class="text-muted"
                >Register</a
              > -->
            </div>
          </div>
          <div class="d-grid">
            <button type="submit" name="login" class="btn btn-signin">
              Sign In
            </button>
          </div>
        </form>
        <!-- <div class="text-center mt-3">
          <span class="text-muted">Or login with</span>
        </div> -->
        {% if config.SOCIAL_AUTH_GITHUB %}
        <div class="d-flex justify-content-center my-4">
          <a
            href="{{url_for('authentication_blueprint.login_github')}}"
            class="btn social-login-btn"
          >
            <span class="fab fa-github"></span> GitHub
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
